#form-control {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* card css */

.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  min-width: 100px;
  max-width: 500px;
  word-wrap: break-word;
  padding: 20px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 20px;
  min-height: 5px;
  background: #fcfcfc;
  box-shadow: 5px 5px 5px #e49d328a;
}

.tilesWrap li p {
  font-size: 15px;
  line-height: 14px;
  color: #ff9d1d;
  margin-top: 3px;
}
.tilesWrap li button {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
.tilesWrap li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  opacity: 0;
  left: -140px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  background: #ee3737;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: white;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:before {
  background: #491094;
  background: -webkit-linear-gradient(to right, #0abfbc, #e49d32);
  background: linear-gradient(to right, #0abfbc, #f5a640);
}

/* input field */

input,
span,
label {
  display: block;
  margin: 100px;
  padding: 5px;
  border: none;
  font-size: 10px;
}

input:focus {
  outline: 0;
}
/* Question */

input.question {
  font-size: 40px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 20rem;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 40%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 100%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 30px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"],
textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"],
textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* button css */

.add,
.clear {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff9b28;
  padding: 15px;
  margin-top: 15px;
  margin-right: 40px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.5s ease 0s;
}
.add:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.disableButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff9b2875;
  padding: 15px;
  margin-top: 15px;
  margin-right: 40px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.6s ease 0s;
  pointer-events: none;
}

.disableClear {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f32a887c;
  padding: 15px;
  margin-top: 15px;
  margin-right: 40px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.6s ease 0s;
  pointer-events: none;
}

.clear {
  background: #f32a88;
}

.clear:hover {
  background: #c7226f;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
